*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.button {
    background-color: chocolate;
    color: wheat;
    font-weight: bold;
    text-align: center;
    padding: 1em 2em;
}

.hand {
    display: flex;
    gap: 1em;
    margin: 3em auto 0;
    width: fit-content;
    padding: 1em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 57 / 88;
    color: white;
    font-weight: bold;
    width: 5vw;
    font-size: 3rem;
}

.bidding-box {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    column-gap: 0;
    margin: 3em auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

.bid {
    width: 5vw;
    text-align: center;
    background-color: olivedrab;
    color: burlywood;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bid:hover {
    opacity: 0.8;
}

.clubs {
    background-color: green;
}

.diamonds {
    background-color: blue;
}

.hearts {
    background-color: red;
}

.spades {
    background-color: black;
}

.vulnerable {
    background-color: palevioletred;
}