*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: wheat;
    --clubs-color: olivedrab;
    --diamonds-color: rgb(96, 60, 197);
    --hearts-color: crimson;
    --spades-color: #333;
    --ff: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button {
    background-color: var(--spades-color);
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    padding: 1em 2em;
    font-family: var(--ff);
    border: none;
    cursor: pointer;
    letter-spacing: 0.25ch;
    word-spacing: 0.4ch;
    font-size: 1.25rem;
}

.hand {
    outline: 0.25em solid var(--clubs-color);
    display: flex;
    gap: 1em;
    margin: 3em auto 0;
    width: fit-content;
    padding: 1em;
    position: relative;
}

.hand::after {
    position: absolute;
    content: attr(data-hcp);
    background-color: var(--diamonds-color);
    color: var(--main-color);
    font-size: 2rem;
    font-family: var(--ff);
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: -5em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 57 / 88;
    color: var(--main-color);
    font-weight: bold;
    width: 5vw;
    font-size: 3rem;
    font-family: var(--ff);
}

.bidding-box {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    column-gap: 0;
    margin: 3em auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

.bid {
    width: 5vw;
    text-align: center;
    background-color: var(--clubs-color);
    color: var(--main-color);
    font-weight: 700;
    font-family: var(--ff);
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.10em 0;
}

.bid:hover {
    opacity: 0.8;
}

.clubs {
    background-color: var(--clubs-color);
}

.diamonds {
    background-color: var(--diamonds-color);
}

.hearts {
    background-color: var(--hearts-color);
}

.spades {
    background-color: var(--spades-color);
}

.vulnerable {
    outline-color: var(--hearts-color);
}

.screen {
    cursor: auto;
    letter-spacing: 0.25ch;
}

.bid:nth-child(36) {
    grid-column: 2 / 3;
}